<ion-view title="Track Tech">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <h4>
          <b style="color: #886aea;"> Alert!!! - </b>
            <p>
                On push of <b style="color: #886aea;">Send Notifications</b> the present location of the phone is sent via text message to the emergency contact based on the schedules provided in the menu settings.
                <br>
                <br>
                <b>Message charges may apply as per the operator!!!</b>
            </p>
        </h4>
        <div class="spacer" style="width: 283px; height: 18px;"></div>
        <button class="button button-positive button-block ">Send Notifications!</button>
        <form class="list"></form>
        <h4><b style="color: #886aea;"><br>Important to note!</b></h4>
        <h4>Emergency contact number: <b style="color: #886aea;"><br>8105104459</b></h4>
        <h4>Message Notification interval: <b style="color: #886aea;"><br>5 minutes</b></h4>
        <h4>Message Notification Cuttoff time: <b style="color: #886aea;"><br>1 hour </b></h4>
    </ion-content>
</ion-view>
