<ion-view title="Tracking Schedule">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <h4>Message notifications sent for every:</h4>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Minutes:</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 41px;"></div>
            <h4>Message notifications cutoff duration</h4>
            <label class="item item-input">
                <span class="input-label">Minutes:</span>
                <input type="text" placeholder="">
            </label>
            <a ui-sref="map" class="button button-positive button-block icon-right ion-chevron-right button-calm ">I am all set</a>
        </form>
        <form class="list"></form>
    </ion-content>
</ion-view>
