<ion-view title="Tracking Schedule">
    <ion-content overflow-scroll="true" padding="true" class="has-header background_image">
    </ion-content>
    <ion-content overflow-scroll="true" padding="true">
        <form class="list">
            <div class="spacer" style="width: 283px; height: 23px;"></div>
            <h4 class="text_color_white">Emergency Contact Number:</h4>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label color_royal"><b>Phone:</b></span>
                    <input type="tel" placeholder="" ng-model="trackSchedule.emergencyContact">
                </label>
            </ion-list>
            <div class="spacer" style="width: 283px; height: 23px;"></div>
            <h4 class="text_color_white">Recurrance interval:</h4>
            <ion-list>
                <label class="item item-input">
                    <span class="input-label color_royal"><b>Minutes:</b></span>
                    <input type="number" placeholder="" ng-model="trackSchedule.recurrance">
                </label>
            </ion-list>
            <div class="spacer" style="width: 283px; height: 23px;"></div>
            <h4 class="text_color_white">Timeout duration:</h4>
            <label class="item item-input">
                <span class="input-label color_royal"><b>Minutes:</b></span>
                <input type="number" placeholder="" ng-model="trackSchedule.totalDuration">
            </label>
            <div class="spacer" style="width: 283px; height: 23px;"></div>
            <a ui-sref="menu.home"
            class="button button-royal button-block icon-right ion-chevron-right"
            ng-click="saveTrackSchedules()">I am all set</a>
        </form>
        <form class="list"></form>
    </ion-content>
</ion-view>
