<ion-view title="Tracking Request">
  <ion-nav-buttons side="left">
      <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
        <i class="icon ion-ios-arrow-back"> Back</i>
      </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" padding="true" class="has-header background_image">
  </ion-content>
  <ion-content overflow-scroll="true" padding="true">
      <form class="list">
          <div class="spacer" style="width: 283px; height: 10px;"></div>
          <ion-list>
              <label class="item item-input" name="firstname">
                  <span class="input-label">First name:</span>
                  <input type="text" placeholder="Enter first name" ng-model="register.firstname">
              </label>
              <label class="item item-input" name="lastname">
                  <span class="input-label">Last name:</span>
                  <input type="text" placeholder="Enter last name" ng-model="register.lastname">
              </label>
              <div class="spacer" style="width: 283px; height: 10px;"></div>
              <h4 class="text_color_white" data-ng-model="register.trackCode">Track code: <b style="color: #886aea;"><br>{{register.trackCode}}</b></h4>

              <!-- <label class="item item-input" name="trakcode">
                  <span class="input-label">Track code:</span>
                  <input class="font_small_fit" type="text" ng-readonly="true" data-ng-model="register.trackCode">
              </label> -->
          </ion-list>
          <div class="spacer" style="width: 283px; height: 23px;"></div>
          <div>
              <p>
                  By clicking on
                  <b>Send Track Code</b> button, i agree to
                  <b>Terms &amp; Conditions</b> and
                  <b>Privacy Policy</b>
              </p>
          </div>
      </form>
      <a class="button button-royal button-block icon-right ion-chevron-right"
      ng-click="saveandSendData()">Send Track Code</a>
  </ion-content>
</ion-view>
